/* Style for the theme switcher */
#theme-switcher {
    display: flex;
    align-items: center;
    background-color: transparent; 
    color: #9e9ea4; 
    font-size: 18px; 
    cursor: pointer;
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Icon inside the theme switcher */
#theme-switcher .material-icons-outlined {
    font-size: 24px; 
    margin-right: 8px; 
}

/* Hover effect to match sidebar items */
#theme-switcher:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #ffffff; 
}
